<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}" />
  </head>
  <body>
    <h1 class="categories">Categories</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Status</th>
          <th>Privacy</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr>
          <td>{{ category.id }}</td>
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
          <td>{{ category.status }}</td>
          <td>{{ category.privacy }}</td>
          <td onclick="redirectToCategory('{{category.id}}')">View Category</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <script>
      // Function to redirect to the category endpoint
      function redirectToCategory(categoryId) {
        window.location.href = `/categories/${categoryId}`;
      }
    </script>
  </body>
</html>
