<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Coiny&family=Sono:wght@200..800&display=swap"
      rel="stylesheet"
    />

    <title>Categories</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}" />
  </head>
  <body class="categories-body">
    <h1 class="categories-heading">Categories</h1>

    <ul class="category-grid">
      {% for category in categories %}
      <li class="category-card" onclick="redirectToCategory('{{category.id}}')">
        <h3>{{ category.name }}</h3>
        <div class="category-card-body">
          <p>{{ category.description }}</p>
          <div class="statuses">
            <p>{{ category.status }}</p>
            <p>{{ category.privacy }}</p>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>

    <script>
      function redirectToCategory(categoryId) {
        window.location.href = `/categories/${categoryId}`;
      }
    </script>
  </body>
</html>
